@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "Montserrat", serif;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 2rem;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header li {
  padding: 1rem;
}
.sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  flex-direction: column;
  align-items: end;
  justify-content: flex-start;
  height: 50vh;
  width: 20%;
  padding: 1rem 0;
}
