@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "milky-walky";
  src: url("/static/fonts/milky-walky-ligature-sans-serif/MilkyWalky-Regular.otf")
      format("opentype"),
    url("/static/fonts/milky-walky-ligature-sans-serif/MilkyWalky-Regular.woff")
      format("woff"),
    url("/static/fonts/milky-walky-ligature-sans-serif/MilkyWalky-Regular.ttf")
      format("truetype");
}
:root {
  --light-bg: #faf6f2;
  --light-cream-bg: #dbc0ab;
  --dark-text: #432c24;
  --dark-bg: #9a6950;
  --cream-bg: #cfa96a;
  --font-normal: "Fira Sans", serif;
  --font-title: "milky-walky";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  scroll-behavior: smooth;
}
body {
  background-color: var(--light-cream-bg);
  color: var(--dark-text);
  font-family: var(--font-normal);
  font-weight: 300;
  font-style: normal;
  font-size: 1.3rem;
}
header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  box-shadow: 0 0 25px rgba(67, 44, 36, 0.1);
  border-radius: 0 0 15px 15px;
  font-size: 1.3rem;
  background-color: var(--light-bg);
  z-index: 20;
}
header a {
  margin: 0 1rem;
  color: var(--dark-text);
  transition: all 0.09s ease-in;
}
header a:hover {
  border-bottom: 1px solid var(--cream-bg);
  color: var(--cream-bg);
}
#hero {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 0 2rem;
  overflow: hidden;
}
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  padding-left: 1rem;
}
.hero-text h1 {
  font-family: var(--font-title);
  font-size: 8rem;
  font-weight: 200;
  letter-spacing: -0.35rem;
}
.hero-text p {
  font-size: 1.3rem;
  line-height: 1.3;
  letter-spacing: 0.1rem;
}
.hero-imgs {
  width: 50vw;
  height: 100vh;
}
.img-container {
  position: relative;
  height: 100%;
  width: 100%;
}
.img-container img {
  display: block;
  position: absolute;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1);
}
.paw-prints-black {
  position: absolute;
  mix-blend-mode: darken;
  transform: rotate(-38deg);
  top: 75px;
  left: -287px;
}
.mid {
  top: 50%;
  left: 50%;
  z-index: 15;
}
.top-left {
  top: 250px;
  left: 215px;
  z-index: 10;
}
.top-right {
  top: 140px;
  right: 110px;
  height: 301px;
  width: 201px;
}
.bottom-right {
  bottom: 160px;
  right: 125px;
  z-index: 10;
}
.bottom-left {
  bottom: 35px;
  left: 150px;
}

.btn {
  align-items: center;
  border: 1px solid var(--dark-text);
  box-shadow: 0 0 24px rgba(0, 0, 0, 0.1),
    -0.1 -0.1 24px rgba(255, 255, 255, 0.1);
  border-radius: 100px;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 10px 40px;
  text-align: center;
  font-size: 1.3rem;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  margin-top: 2rem;
  color: var(--dark-text);
  transition: all 0.2s ease-in;
}
.btn:hover {
  background-color: var(--dark-bg);
  color: white;
}
#about,
#meet {
  height: 100vh;
  width: 100vw;
  justify-items: center;
}
.container {
  width: 93vw;
  height: 100%;
  color: var(--light-bg);
  background-color: var(--dark-bg);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: center;
  font-weight: 200;
  padding: 3rem 4rem;
  position: relative;
}
.round-top {
  border-radius: 150px 150px 0 0;
}
.about-text h2,
.meet-text h2 {
  font-family: var(--font-title);
  font-weight: 200;
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
}
.about-text p,
.meet-text p {
  margin-top: 1rem;
  line-height: 1.5;
  font-weight: 200;
  letter-spacing: 0.1rem;
}
.about-img-box,
.meet-img-box {
  width: 525px;
  height: 335px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-img-box {
  border-radius: 50px 0 0 50px;
}
.paw-prints {
  position: absolute;
  bottom: -355px;
  left: 31px;
  width: 96%;
  z-index: 15;
  fill: var(--light-bg);
  transform: rotate(13deg);
}
.meet-img-box {
  border-radius: 0 50px 50px 0;
}
.about-img-box img,
.meet-img-box img {
  display: block;
  width: 100%;
}
.round-bottom {
  border-radius: 0 0 150px 150px;
}
.meet-text .btn {
  color: var(--light-bg);
  border: 1px solid var(--light-bg);
  transition: all 0.2s ease-in;
}
.icon {
  fill: var(--light-bg);
  margin-left: 1rem;
}
.meet-text .btn:hover {
  color: var(--dark-text);
  background-color: var(--light-bg);
}
.meet-text .btn:hover .icon {
  fill: var(--dark-text);
  animation-duration: 0.7s;
  animation-name: pointDown;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

#contact {
  height: 100vh;
  margin: 2rem 1rem;
  align-content: center;
}
#contact a {
  color: var(--dark-text);
  transition: all 0.2s ease-in;
}
#contact a:hover {
  color: var(--cream-bg);
}

.footer-title {
  display: flex;
  align-items: end;
  justify-content: space-between;
}
.footer-title h2 {
  font-size: 6rem;
  font-family: var(--font-title);
  font-weight: 200;
  padding-right: 3rem;
  padding-bottom: 1rem;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem;
}
.footer-links h3 {
  font-family: var(--font-title);
  text-decoration: 1px solid underline var(--dark-text);
  font-size: 3rem;
  font-weight: 200;
  margin: 1rem 0;
}
.links a {
  display: block;
}
.adresses {
  text-align: center;
}

.adresses-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10rem;
}
#spinner {
  text-align: center;
  padding-top: 3rem;
  position: relative;
}
#spinner::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(/static/images/paw-bg.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.spinner-title {
  font-size: 8rem;
  font-family: var(--font-title);
  font-weight: 200;
  margin-bottom: -6.5rem;
  margin-top: 3rem;
}
.spinner {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spinner-images {
  display: flex;
  align-items: center;
  gap: 21px;
}
.spinner-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;

  filter: brightness(80%);
}
.spinner-image {
  width: 110px;
  border-radius: 7px;
  cursor: pointer;
  position: relative;
}
.spinner-images .spinner-image:first-child,
.spinner-images .spinner-image:last-child {
  height: 280px;
  transition: all 0.7s cubic-bezier(0.39, -0.81, 0.42, 1.68);
}
.spinner-images .spinner-image:nth-child(2),
.spinner-images .spinner-image:nth-child(6) {
  height: 360px;
  transition: all 0.7s cubic-bezier(0.39, -2.81, 0.42, 1.68);
}
.spinner-images .spinner-image:nth-child(3),
.spinner-images .spinner-image:nth-child(4),
.spinner-images .spinner-image:nth-child(5) {
  height: 465px;
  transition: all 0.7s cubic-bezier(0.39, -5.81, 0.42, 1.68);
}
.spinner-image h2 {
  text-align: left;
  text-transform: uppercase;
  color: var(--light-bg);
  position: absolute;
  top: 50%;
  left: -10%;
  transform: rotate(270deg);

  font-family: var(--font-normal);
  font-weight: 800;
}
.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
}
.details h3 {
  text-align: left;
  line-height: 44px;
  text-transform: uppercase;
  color: transparent;
  display: none;
}
.details p {
  text-align: left;
  line-height: 44px;
  text-transform: uppercase;
  color: transparent;
  display: none;
}
.spinner-image.active {
  height: 550px !important;
  width: auto;
}
.spinner-image.active img {
  filter: brightness(60%);
}
.spinner-image.active h2 {
  display: none;
}
.spinner-image.active:hover .details p,
.spinner-image.active:hover .details h3 {
  display: block;
  color: var(--light-bg);
  transition: 0.3s ease;
}

@keyframes pointDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(10px);
  }
}
